.mainSection{
    background: url("../img/bg_2.jpg");
    background-size: 100%;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(255, 236, 2, 0.57) 0%, rgba(228, 34, 214, 0.63) 100%);
}
.mainSection .circle{
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50% 
}
.btn-orange{
    background: orange;
color: #fff;
}

.topNav  a{

    transition: ease-in-out all 0.3s;
}
    .topNav  a:hover{
    color: orange !important;
} 
.mainText{
    font-size: 16px;
}
.mainH2{
    font-size: 3.5rem;
}